<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822826495994-27v4phva4b4ua1l9d19b7kktjnbno5pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822826495994-27v4phva4b4ua1l9d19b7kktjnbno5pr</string>
	<key>API_KEY</key>
	<string>AIzaSyABoh_P8QFw5eV6o14krH981abiqBZ9Nco</string>
	<key>GCM_SENDER_ID</key>
	<string>822826495994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erichen196.Bonfire</string>
	<key>PROJECT_ID</key>
	<string>bonfire-b03d8</string>
	<key>STORAGE_BUCKET</key>
	<string>bonfire-b03d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822826495994:ios:02e31c8bccab95959dbe43</string>
</dict>
</plist>